@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

// the color codes for the project 

$c1 : hsl(0, 0%, 100%);
$c2 : hsl(0, 0%, 0%);
$c3 : hsl(0, 0%, 55%);
$c4 : hsl(0, 0%, 41%);

// the fonts for the project 

$f1 : 'Alata', sans-serif;
$f2 : 'Josefin Sans', sans-serif;